body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.laboratory {
	width: 100%;
	height: 100%;
}

#stats { position: absolute; top:0; left: 0 }
#stats #fps { background: transparent !important }
#stats #fps #fpsText { color: #777 !important }
#stats #fps #fpsGraph { display: none }